.toggle {
    background: var(--color-highlighted);
    border-radius: 8px;
    height: 16px;
    margin: 8px;
    position: relative;
    width: 48px;
}
.toggle > span {
    background-color: var(--card-color-background);
    border-radius: 16px;
    height: 28px;
    left: -4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left .2s;
    width: 28px;
}
.toggle > span.off {
    left: calc(100% - 24px);
}