@keyframes text-animation {
    from {background-position-x: 0%}
    to {background-position-x: 200%}
}
.image {
    bottom: 100%;
    height: 128px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    width: 128px;
    z-index: 1;
}
.main-container {
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    max-width: 432px;
    padding-top: 64px;
}
.main {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    padding: 0 8px;
}
.name {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
.special-titles {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    gap: 8px;
    padding: 8px;
}
.special-titles > li {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-clip: text;
    background-size: 200%;
    color: transparent;
    padding: 4px 0;
}
.legendary {
    animation: text-animation 4s infinite linear;
}
.mythical {
    animation: text-animation 2s infinite linear;
}
.id {
    background: var(--color-highlighted);
    border-radius: 8px;
    color: var(--card-color-background);
    font-size: 16px;
    font-weight: 600;
    left: 0;
    margin: 8px;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.generation {
    color: var(--card-color-background);
    font-weight: 600;
    margin: 4px 0;
    text-align: center;
}
.generation > p {
    background: var(--color-highlighted);
    border-radius: 8px;
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
}
.genera {
    color: var(--color-font-secondary);
    font-size: 12px;
    font-weight: 600;
    padding: 4px 0;
    text-align: center;
}
.gender {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 8px;
}
.gender > p {
    align-items: center;
    background: var(--color-highlighted-secondary);
    border-radius: 8px;
    display: flex;
    gap: 4px;
    padding: 4px 8px;
}
.types {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin: 8px 0;
}
.description {
    color: var(--color-font-secondary);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.body-description {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    margin: 8px 0;
}
.body-description > li {
    align-items: center;
    display: flex;
    gap: 4px;
}
.abilities {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding: 4px 4px;
    text-transform: capitalize;
}
.body-description > li {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 96px;
}
.body-description > li, .abilities > li {
    background: var(--minicard-color-background);
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}
.abilities > li {
    flex: 1;
    padding: 4px 8px;
}
.charts {
    margin: 8px 0;
}
.charts > li {
    align-items: center;
    display: flex;
    gap: 8px;
    margin: 4px 0;
}
.charts > li > p {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    justify-content: center;
    text-align: center;
    width: 32px;
}
.charts > li > div {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    flex: 1;
    height: 20px;
    overflow: hidden;
    position: relative;
}
.charts > li > div > p {
    background: rgba(0, 0, 0, .25);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    left: 50%;
    padding: 2px 4px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.charts > li > div > span {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .5s, background-color .5s;
}
.damages {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    margin: 16px 0;
}
.tabs {
    background: var(--card-color-background);
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    display: flex;
    gap: 8px;
    margin: 8px 4px;
    position: sticky;
    top: 4px;
}
.tabs > li {
    cursor: pointer;
    flex: 1;
    font-weight: 600;
    padding: 4px 2px;
    text-align: center;
}
.tabs > li.current {
    background: var(--color-highlighted-secondary);
    border-radius: 8px;
}

@media screen and (max-width: 883px) {
    .container.hide > .main {
        top: 100dvh;
    }
    .container.show > .main {
        animation: show-info .2s;
    }
}