.card {
    align-items: center;
    border-radius: 11px;
    color: white;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
.card > img {
    height: 22px;
    width: 22px;
}
.card > p {
    padding: 0 8px;
}
.card > span {
    font-weight: 800;
    padding-right: 6px;
}
