@import './reset.css';
@import './main.css';

.main-container {
    box-sizing: border-box;
    display: flex;
    height: 100dvh;
    overflow: hidden;
    width: 100%;
}
.main-container > main {
    flex: 1;
    height: 100%;
    overflow: auto;
}
.main-container > aside {
    box-sizing: border-box;
    height: 100vh;
    min-width: 352px;
    width: 32px;
}
.main-container > aside > div {
    padding: 16px;
}
.downloading-info {
    align-items: center;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100dvh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.downloading-info > img {
    height: 192px;
    object-fit: contain;
    width: 192px;
}
.downloading-info > p {
    color: var(--color-font-secondary);
    font-weight: 600;
}
@media screen and (max-width: 883px) {
    .main-container > aside {
        left: 0;
        min-height: 100dvh;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .main-container > aside > div {
        padding: 0;
        position: relative;
        z-index: 2;
    }
    .main-container > aside.show > span {
        background: rgba(0, 0, 0, .5);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .main-container > aside.hide {
        display: none;
    }
}