@import './reset.css';
@import './main.css';

@keyframes show {
    from {display: block; background: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, .5);}
}

@keyframes hide {
    from {display: inline-block; background-color: rgba(0, 0, 0, .5);}
    to {display: none; background-color: rgba(0, 0, 0, 0);}
}

.main-container {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'nav info' 'list info';
    grid-template-columns: 1fr 320px;
    grid-template-rows: 49px 1fr;
    height: 100dvh;
    overflow: hidden;
    padding: 8px;
    width: 100%;
}
.main-container > nav {
    align-items: center;
    display: flex;
    grid-area: nav;
}
.main-container > main {
    grid-area: list;
    height: 100%;
    overflow: auto;
}
.main-container > aside {
    grid-area: info;
    height: 100%;
    transform: translateY(0);
    transition: transform .2s;
    width: 32px;
}
.main-container > aside.hide {
    transform: translateY(100%);
}

@media screen and (max-width: 883px) {
    .main-container {
        grid-template-columns: 1fr 0;
    }
    .main-container > aside.show {
        animation: show .5s forwards;
    }
    .main-container > aside.hide {
        animation: hide .5s forwards;
        transform: translateY(0);
    }
    .main-container > aside {
        background-color: rgba(0, 0, 0, .25);
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}