@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --highlighted-color: rgba(0, 0, 0, .25);
  --font-color-principal: rgb(27, 27, 27);
  --font-color-secondary: rgb(231, 231, 231);
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color-principal);
}
hr {
  border: 1px solid var(--highlighted-color);
  margin: 16px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(177, 177, 177);
  border-radius: 4px;
}