.evolution-card {
    background: var(--minicard-color-background);
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
    display: flex;
    display: inline-block;
    flex: 1;
    height: 64px;
    margin: 16px 16px;
    position: relative;
    transition: box-shadow .2s, transform .2s, background-color .2s;
    width: 64px;
}
.evolution-card.current {
    box-shadow: none;
    transform: translateY(4px);
}
.evolution-card > img {
    height: 100%;
    image-rendering: pixelated;
    object-fit: contain;
    width: 100%;
}
.evolution-details {
    align-items: center;
    background: rgba(0, 0, 0, .25);
    border-radius: 8px;
    display: flex;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 4px;
    position: absolute;
    right: 0;
    text-align: left;
    text-transform: capitalize;
    top: 0;
    transform: translate(50%, -50%);
}
.evolution-details > img {
    height: 24px;
    width: 24px;
}
.image {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}