.search-field {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 8px;
}
.search-field > div {
    max-width: 512px;
    position: relative;
    width: 100%;
}
.search-field > div > input {
    background: var(--card-color-background);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 4px 8px;
    width: 100%;
}
.search-field > div > span {
    background: var(--card-color-background);
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
}
.results {
    overflow: auto;
}
.results > li {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
}
.results > li:hover {
    background: rgba(0, 0, 0, .125);
}
.results > li > p {
    font-weight: 600;
    text-transform: capitalize;
}
.results > li > ul {
    display: flex;
    gap: 4px;
}